VITE_CTP_PROJECT_KEY=ecommerce-app-started
VITE_CTP_CLIENT_ID=9ompYmDo_vslZtBiK96lbt8J
VITE_CTP_CLIENT_SECRET=i7qjQZdZCfA_zR0KUzcoi5y-Ovf-juVW
VITE_CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com/
VITE_CTP_API_URL=https://api.europe-west1.gcp.commercetools.com/
VITE_CTP_SCOPES=manage_my_business_units:ecommerce-app-started view_published_products:ecommerce-app-started manage_my_payments:ecommerce-app-started manage_my_quote_requests:ecommerce-app-started manage_my_orders:ecommerce-app-started create_anonymous_token:ecommerce-app-started view_categories:ecommerce-app-started manage_my_shopping_lists:ecommerce-app-started manage_my_quotes:ecommerce-app-started manage_my_profile:ecommerce-app-started