.edit-pass__button-container {
  display: flex;
  gap: 10px;
}

.edit-pass_button {
  padding: 5px 10px;
  background-color: #cba662;
  transition: 0.5s;
  &:hover,
  &:disabled {
    background-color: rgba(203, 166, 98, 0.5);
  }
}
