* {
  box-sizing: border-box;
}

.main {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

#root {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: calc(100vw - 17px);
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.button {
  margin: 0;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid transparent;
  font-variant: small-caps;
}

.heading {
  margin: 0;
  padding: 10px;
}

.text {
  margin: 0;
}

// .main__wrapper {
//   padding-top: 25px;
//   padding-bottom: 15px;
// }

.list {
  margin: 0;
  padding: 0;
}

.input {
  padding: 5px;
  min-width: 250px;
  max-width: 350px;
  width: 80%;
  border: 1px solid #909096;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: blue;
}

.input__error,
.input__error:focus {
  border-color: red;
}

.error__message {
  color: red;
  font-size: 12px;
  min-height: 25px;
  padding: 3px 5px 5px;
  max-width: 250px;
  // visibility: hidden;
}

.error__message_visible {
  visibility: visible;
}

.password__wrapper {
  min-width: 250px;
  max-width: 350px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input_password {
  width: 100%;
}

.icon_eye {
  width: 18px;
  height: 18px;
  position: absolute;
  left: calc(100% - 25px);
}
