.address-list__wrapper {
  margin-top: 20px;
}

.address-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding-inline-start: 0px;
}
