.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding: 20px;
}

.product-page__wrapper {
  max-width: 1200px;
}

.product-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.product-page__slider-container {
  width: 100%;
}

.product-page__name {
  font-size: 26px;
}

.product-page__prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.product-page__full-price {
  text-decoration: line-through;
  color: #999;
  font-size: 20px;
}

.product-page__discounted-price {
  font-weight: bold;
  color: red;
  font-size: 26px;
}
.product-page__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product-page__slider-container {
  width: 60%;
}

.product-page__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
}

.product-page__container {
  gap: 30px;
}

.product-page__description {
  width: 100%;
  border-top: 2px dotted #cba662;
}

.actual {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.product-page__attributes-item {
  margin-bottom: 10px;
}

.product-page__attributes-name {
  font-weight: bold;
  text-transform: capitalize;
  color: #333;
}

.product-page__attributes-value {
  font-weight: normal;
  color: #909096;
}

.product-page__attributes {
  padding-left: 20px;
}

.product-page__description__paragraph {
  text-indent: 30px;
  text-align: justify;
}
@media (min-width: 1921px) {
  .product-page {
    font-size: 20px;
  }
}

@media (max-width: 1920px) {
}

@media (max-width: 800px) {
  .product-page {
    font-size: 18px;
  }

  .product-page__name {
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .product-page__container {
    flex-direction: column;
    align-items: center;
  }

  .product-page__slider-container {
    width: 80%;
  }

  .product-page__info {
    width: 80%;
    align-items: center;
  }
  .actual {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .product-page {
    font-size: 14px;
  }

  .product-page__name {
    font-size: 18px;
  }

  .product-page__slider-container {
    width: 100%;
  }
}
