.catalog-page {
  display: flex;
  flex-direction: column;
}

.catalog-page__wrapper {
  padding-top: 15px;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item + .breadcrumbs__item:before {
  content: '>';
  padding: 10px;
}

.breadcrumbs__list {
  font-size: 10px;
  transition: 0.5s;
}

.breadcrumbs__list:hover {
  color: rgba(0, 0, 0, 0.5);
}

.catalog__heading {
  text-align: center;
  font-size: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  width: 50%;
  height: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.category:hover {
  transform: scale(105%);
}

.category__heading {
  font-size: 18px;
  color: #f1f1f1;
}

.category_cats {
  background: 75% / contain no-repeat
    url('../../../../assets/img/cats_category_image.png')
    hsla(129, 32%, 71%, 0.5);
}

.category_birds {
  background: left bottom / contain no-repeat
    url('../../../../assets/img/birds_category_image2.png')
    rgba(221, 160, 221, 0.6);
}

.category_dogs {
  background: 75% / contain no-repeat
    url('../../../../assets/img/dogs_category_image.png')
    rgba(191, 210, 216, 0.7);
}

.category_fish {
  background: 20% bottom / contain no-repeat
    url('../../../../assets/img/fishes_catalog_image.png')
    rgba(173, 216, 230, 0.7);
}

.loader-spinner {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 5px;
}

.card {
  width: 40%;
  // height: 200px;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
}

.non-existent-image {
  width: 100%;
}

.catalog_content {
  padding-top: 20px;
  display: flex;
}

.sidebar {
  width: 30%;
  min-width: 30%;
}
