.catalog__header {
  background-color: #cba662;
  padding: 0 40px;
}

.catalog__header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  // column-gap: 40px;
}

.catalog__header__item {
  max-width: 150px;
  padding: 5px 0;
  flex: 1;
  text-align: center;
}

.catalog__header__link {
  font-variant: small-caps;
  display: inline-block;
  width: 100%;
  color: white;
}
