.slider_price {
  width: 100%;
  height: 2px;
  background-color: #cba662;
}

.slider_price .thumb {
  width: 20px;
  height: 20px;
  cursor: grab;
  background-color: white;
  border: 2px solid #aeaeba;
  border-radius: 50%;
  top: -10px;
}

.track-0,
.track-2 {
  height: 2px;
  background-color: #aeaeba;
}
